@page
@model IndexModel
@{
    ViewData["Title"] = "Home page 9999";
}

<div class="text-center">
    <h1 class="display-4">Welcome | Hosgeldin </h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    Çılgın uygulamalar yolda!
    Welcome to the CI world
</div>
